/* ---------- Base ---------- */
* {
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}

body {
  background: #f3f3f3;
}

main {
  padding: 2rem;
}

:root {
  --card-width: 560px;
  --card-height: 320px;
  --card-radius: 18px;
  --offset-x: 260px;
  --offset-y: 35px;
}

/* ---------- Form grid ---------- */
.card-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 1.5rem;

  max-width: calc(var(--card-width) + var(--offset-x));
  margin: 2rem auto;
  position: relative;
}

/* ---------- Shared card look ---------- */
.card-front,
.card-back {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  width: var(--card-width);
  max-width: 100%;
  min-height: var(--card-height);

  padding: 1.5rem;
  border-radius: var(--card-radius);
  box-shadow: 7px 10px 7px rgba(0, 0, 0, 0.65);
}

/* ---------- Front card internal grid ---------- */
.card-front {
  z-index: 2;
  background: #ccc;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;

  align-items: start;
  transform: translate(60px);
}

.total {
  grid-column: 1 / 2;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.chip {
  grid-column: 2 / 3;
  justify-self: 