@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: grid;
  grid-template-rows: 1fr;
  background-color: #CCCCCC;
}
header,
footer {
  padding: 1rem;
  background-color: #447FDA;
  color: white;
  max-width: none;
  text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: #CCCCCC; */
}
section {
    justify-self: center;
}
main > h1 {
  grid-column: 1 / -1;
  margin: 1rem 0;
}
h1 {
    text-align: center;
}
img {
    margin: 1em;
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
}
nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}
header {
    text-align: center;
}
footer {
    text-align: center;
}




@media screen and (min-width: 700px) {
    main{
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1100px;
        margin: 0 auto; 
    }
    .menu-btn {
        display: none;
    }
    nav a{
        display: inline;
        color: white;
    }
}        