@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: grid;
  grid-template-rows: 1fr;
  background-color: #CCCCCC;
}
header,
footer {
  padding: 1rem;
  background-color: #447FDA;
  color: white;
  max-width: none;
  text-align: center;
}
nav a {
    padding: 20px;
    display: block;
    color: white;
}
.hide {
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}
h1 {
    text-align: center;
    margin: 35px 0;
}
.gallery {
    max-width: 1000px;
    margin: 0 auto;
}
figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
    display: block;
    margin: 0 auto;
}
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}




@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    .hide{
        display: flex;
        color: white;
        justify-content: center;
    }
    dialog img {
        width: 60%;
        margin: 15vh auto;
    }
    .close-viewer {
        position: absolute;
        right: 15vh;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
}
