body {
    font-size: 18px;

}
#content {
    margin: 40px auto;
    padding-top: 20px;
    padding-left: 175px;
    padding-right: 175px;
}
h1 {
    font-size: 47px;
}
h2 {
    font-size: 16px;
    color: #3286C2;
    letter-spacing: 0.2em;
}
h1, h2 {
    font-weight: 500;
    text-align: center;
}
hr {
    color: #e7dfdf;
    height: 0.02em;
    width: auto;
}

p, .list {
    line-height: 1.6em;
}
.list {
    list-style-type: decimal;
}
.italic {
    font-style: italic;
}
li {
    padding-bottom: 1.3em;
}
img {
    width: 20%;
    display: block;
    margin: auto;
}