
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    padding: 1rem;
    text-align: center;
}
header {
    border-bottom: 1px solid #ffc107;
    padding-bottom: 3em;
}
footer {
    border-top: 1px solid #ffc107;
}
h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}
.italic {
    font-style: italic;
}
.main-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
    border-top: 1px solid #ffc107;
    border-bottom: 1px solid #ffc107;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding-top: 1em;
    padding-bottom: 1em;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: #b30059;
    text-decoration: none;
}
#book-list {
    padding: 0 2rem;
}
.book {
    padding: 1rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
}
.info {
    text-align: right;
}
.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.book p {
    padding-left: 20px;
}
.book img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}


@media (min-width: 600px) {
    .main-nav {
        display: grid;
        grid-template-columns: 100px 100px 100px;
    }
    .book {
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: center;
        max-width: 1000px;
        align-items: stretch;
        column-gap: 2rem;
    }
    .info {
        grid-row: 1/4;
        grid-column: 1/2;
        align-self: stretch;
        border-right: 1px solid #ffc107;
        height: 100%;
        padding-right: 1.5rem;
    }
    .book h2, .book img, .desc {
        grid-column: 2 / 3;
    }
    .book h2 { grid-row: 1; }
    .book img { grid-row: 2; }
    .desc { grid-row: 3; }
}
          